[run]
omit =
  apps/collector/migrations/*
  apps/site_grabber/wiki*
  apps/site_grabber/kinopoisk/*
  apps/site_grabber/cf_kinopoisk/*
  apps/site_grabber/utils.py
[report]
omit =
  apps/collector/migrations/*
  apps/site_grabber/wiki*
  apps/site_grabber/kinopoisk/*
  apps/site_grabber/cf_kinopoisk/*
  apps/site_grabber/utils.py
