[run]
omit =
  apps/bots/migrations/*
  apps/core/migrations/*
  apps/linux/migrations/*
  apps/nets/migrations/*
  apps/notify/migrations/*
  apps/users/migrations/*

[report]
omit =
  apps/bots/migrations/*
  apps/core/migrations/*
  apps/linux/migrations/*
  apps/nets/migrations/*
  apps/notify/migrations/*
  apps/users/migrations/*
